.card {
    max-width: 304px;
}

.card__img {
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 16px;

    img {
        width: 100%;
    }
}

.card__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
