:root {
  --container-width: 1230px;
  --container-padding: 15px;

  --font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --page-bg: #fff;
  --text-color: #181818;
  --text-muted: #909090;
  --accent: #35aff4;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}

