<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" type="text/css" />
    <title>List of patients</title>
  </head>
  
  <body>

<div class="wrapper">
    <header class="header">
      <h1>Список пациентов:</h1>
    </header>

    <main class="main">
        <div class="scroll-container">
           <ul class="patients__list">
            <% if (result.N.length  ) { %>
            <% result.Z.forEach(({  names, path, typerh }) => { %>
                <li class="patients__item patients__item-startA">
                <a class="patients__link patients__link-head" href="<%= path %>">
                <%= `${names}--${path}` %></a>
                </li>
              <% }) %>
            <% } %>
          </ul> 
        </div>
    </main>

    <footer class="footer">
        <div class="footer__text">
      Список ссылок на Dicom архив
        </div>
    </footer>

    </div>
    <!-- <script src="Js/index.js"></script> -->
    <script src="/index.js"></script>
  </body>

</html>
